.login{
    display: flex;
    flex-direction: column;

    border-radius: 8px;
    position: absolute;
    transform: translate(-50% , -50%);
    top: 50%;
    left: 50%;
    height: 600px;
    width: 400px;
    align-items: center;
    align-content: space-between;
    justify-content: center;
}
.login form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-between;
    gap: 50px;
}