
    .About{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 100px 0;
        padding: 0 40px;
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }
    .About h1{
        border-bottom: 2px solid rgb(107, 36, 178);
        font-size: 45px;
    
    }
    .About p{
        font-size: 25px;
    
    }