*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  font-style: normal;

}
body{
    background-color:#f6f6f6;
}
.light{
    background-color:#f6f6f6;
    color: black;
}
.ThemeBig{
    background: none;
    border: none;
}
.dark nav{
    background-color: black;
  
}
.light nav{
    background-color: #f6f6f6;
}
.dark{
    background-color: #28282B;
    color: white;
}
.dark .Hero .WhoContainer .Border{
    border-color: white;
}
.dark .Hero .WhoContainer .B a{
    color: #f6f6f6;
}
.dark .Hero .WhoContainer .B #B2{
    border-color: #28282B;
}
.dark .Contact{
    background-color: #28282B;
opacity: 0.7;
background-image:  radial-gradient(#6B24B2 1.2000000000000002px, transparent 1.2000000000000002px), radial-gradient(#6B24B2 1.2000000000000002px, #28282B 1.2000000000000002px);
background-size: 48px 48px;
background-position: 0 0,24px 24px;
}
.dark .Contact .form .Title h1{
    color: white;
}
.dark nav .open{
color: black;
}
 nav .open button{
    background:none;
    border: none;
    margin: auto;
}
nav .open button div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.dark .Contact input , .dark .Contact textarea{
    background-color: #28282B !important;
}
header{
    height: 100vh;
}
 nav ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 60px;
}
 nav h1{
    width: 87px;
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .ligt nav h1:hover{
    padding: 15px;
    border-radius: 50%;
    border: 2px solid black;

    transition: 0.3s ease-in-out;
}
.dark nav h1:hover{
    padding: 15px;
    border-radius: 50%;
    border: 2px solid white;

    transition: 0.3s ease-in-out;
}
 nav ul li{
    width: 87px;
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li:hover{
    color: white;
    background-color: rgb(107, 36, 178);
    transition: 0.3s ease-in-out;

}
 nav   {
    display:  flex;
    justify-content: space-between;
    padding: 0 40px;
    height: 87px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000000000000000000000000000000000000000000000000000000000000000000;
}
header .Hero{
    height: 100vh;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 87px;
}
header .Hero .WhoContainer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 60px;
    padding: 20px;
    align-items: center;
}
.WhoContainer .desc{
    max-width: 50vw;
}
.WhoContainer .desc p{
    padding-top: 30px;
}
header .Hero .WhoContainer #title{
    font-size: 16px;
    width: fit-content;
    padding: 10px 5px;

    color: rgb(107, 36, 178);
    font-size: 25px;
    margin: 20px 0;

}
   
header .Hero .WhoContainer .ImgContain{
    background-color: rgb(107, 36, 178);
    width: clamp(400px,30vw,600px);
    height: 45vh;
    position: relative;
}
header .Hero .WhoContainer img{
    position: absolute;
    z-index: 100;
    bottom: 0%;
    right: 5%;

}
header .Hero .WhoContainer .Border{
    height: 45vh;
    width: 100%;
    position: absolute;
    transform: translate(-50% , -50%);
    left: 40%;
    top: 60%;
    border: 3px solid black;
}
header .Hero .WhoContainer .B{
    display: flex;
    margin-top: 40px;
    align-items: center;
    gap: 25px;
}
header .Hero .WhoContainer .B a{
    text-decoration: none;
    color: black;
}
header .Hero .WhoContainer .B #B1{
    background-color: rgb(107, 36, 178);
    color: white;
    padding: 25px 30px;
    border-radius: 15px;
}
header .Hero .WhoContainer .B #B2{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px 30px;;

    border-bottom: 1px solid white;
}
header .Hero .WhoContainer .B #B2:hover{
    border-color: rgb(107, 36, 178);
    
    transition: 0.3s ease-in-out;
}
.stack{
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;
    border-top: 2px solid rgb(107, 36, 178);
}
.stack .title{
    height: 150px;
   
    padding: 17px 30px;
    max-width: 30vw;
   
    background-color: rgb(107, 36, 178);
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 50px;
}
.stack .right{
     max-width: 65vw;
}
.stack .right img{
    height: 100px;
    width: 100px;
}
nav .side{
    display: none;
}
nav .open{
    display: flex !important;
    flex-direction: column;
    position: absolute;
    z-index: 100000000000000000000;
    top: 0;
    left: calc(100vw - 200px);
    width: 200px;
    padding: 50px 0;
    background-color: white;
    height: 100vh;
    border-left: 1px solid gray;
}
.open li{
    width: 100%;
}
#menu{
    display: none;
}
#close{
    display: none;
}
.About{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    padding: 0 40px;
    flex-direction: column;
    text-align: center;
    gap: 40px;
}
.About h1{
    border-bottom: 2px solid rgb(107, 36, 178);
    font-size: 45px;

}
.About p{
    font-size: 25px;

}
.Portfolio .head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.Portfolio .head h1{
    border-bottom: 2px solid rgb(107, 36, 178);
    font-size: 45px;

}
.Portfolio .head p{
    font-size: 25px;

}
.Project{
    width: clamp(290px ,25.8vw ,350px);
    height: 500px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(107, 36, 178);
padding-bottom: 0;
}   
.Project a{
    display: flex;
    gap: 15px;
    text-decoration: none;
    width: 100%;
    color: white;
    background-color: rgb(107, 36, 178);
    justify-content: center;
    height: 40px;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
    
}
.Project img{
    width: 100%;
    height: 50%;
}
.Portfolio .Container{
    padding: 20px 50px;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3,clamp(290px ,25.8vw ,350px));
    justify-content: space-between;
}
.Project h1{
    text-align: center;
    font-size: 25px;
    padding: 20px 0;
    border-bottom: 1px solid rgb(107, 36, 178);
}
.Portfolio .desc{
    padding: 10px 0;
    height: 100px;
}
.Contact{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #f6f6f6;
    opacity: 0.7;
    background-image:  radial-gradient(#6B24B2 1.2000000000000002px, transparent 1.2000000000000002px), radial-gradient(#6B24B2 1.2000000000000002px, #f6f6f6 1.2000000000000002px);
    background-size: 48px 48px;
    background-position: 0 0,24px 24px;}   
.Contact .form{
    position: absolute;
    transform: translate(-50% , -50%);
    top: 50%;
    left: 50%;
    display: flex;
    width: 80%;
    height: 80%;
    justify-content: space-between;

}
.Contact .form .Title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Contact .form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 30px;
    align-items: flex-start;
}
.Contact .form form input{
    width: 75%;
    background-color: #f6f6f6;
    border: 0;
    border-bottom: 1px solid rgb(107, 36, 178); 
}
.Contact .form form textarea{
    width: 85%;
    height: 40%;
     
    border: 1px solid rgb(107, 36, 178); 
    border-radius: 10px;

}
.Contact button{
    width: 60%;
    height: 30px;
    background-color: rgb(107, 36, 178);
    border: none;
    color: white;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 25px;
}
footer{

    background-color: rgb(107, 36, 178);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    text-align: center;
    margin-top: 50px;
}
footer h1{
font-size: 20px;
}
footer h2{
    font-size: 16px;
}
@media  screen and (max-width:992px) {
  nav ul{
    display: none;
 }
  nav{
    padding: 0 10px !important;

 }
 #menu{
    display: block;
    background:none;
    border: none;
 }
 #close{
    display: block;
    position: absolute;
    left: 30px;
    top: 25px;
    background: none;
    border:none;
 }
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .WhoContainer{
    flex-direction: column;
    padding: 0 10px  !important;
    align-items: center;
    justify-content: center;
    text-align: center;
 }
 .WhoContainer div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .WhoContainer .desc{
    font-size: 13px;
  
 }
 .WhoContainer .B{
    flex-direction: column;
 
    justify-content: center;
    width: 100%;
 }
 #B1{
    padding: 15px 20vw !important;

 }
 header .Hero .WhoContainer .ImgContain{
    width: clamp(280px,80vw,600px);
    margin: 50px 0;
    height: 40vh;

 }
 header .Hero .WhoContainer .ImgContain img{
    
    height: 40vh;
    transform: translateX(-50%);
    left: 40%;
 }
 .WhoContainer .desc{
    max-width: 100vw;
}
.About p{
font-size: 20px;
}
.Portfolio .head p{
    text-align: center;
    font-size: 20px;
}
 header .Hero{
    top: 140px;
 }
 main{
    margin-top: 200px; }
 header .Hero .WhoContainer .ImgContain .Border{
    width: clamp(280px,80vw,600px);

    left: 48%;
    height: 40vh;

    top: 55%;

 }
 .stack{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;   
     height: max-content;
 }
 .stack .title{
    
       max-width: none;
       width: 100%;
    padding: 20px 10px;
    border-radius: 0;
    font-size: 12px;
    text-align: center;

 }
 .stack .right{
    max-width: 100vw;
  
 }

 .Portfolio .Container{
    grid-template-columns: clamp(290px ,25.8vw ,350px);
    padding: 20px 0;
    align-items: center;
    justify-content: center;
 }
 .Contact .form{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
 }
 .Contact .form .Title{
    width: 100%;
    text-align: center;
 }
 .Contact .form form{
    width: 100%;
    justify-content: center;
    align-items: center;
 }
 .Contact .form form input{
    width: 80%;
}
.Contact .form form textarea{
    width: 85%;
    height: 200px;
}
.ThemeBig{
    display: none;
}
} 