.Section{
    position: absolute;
    left: 300px;
    width: calc(100% - 300px);
}
.Section .container{
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.Section .container table{
    width: 80%;

}
.Section .container td{
    text-align: center;
    height: 50px;
    vertical-align: middle;
}
.Section .container table,td,th{
    border: 1px solid black;
}